/* Header CSS */

/* header {
    margin-top: 5vh;
} */

* {
    background-image: url('/webServer/public/images/background.jpg'); 
    /* background-size:100% auto; */
}

h1 {
    font-size: 5em;
    font-family: 'Anton', sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: rgb(189, 0, 0);
}

#logo {
  height: 128px;
  width: 128px;
}