<!DOCTYPE html>
<html>
    <% include ../views/head.ejs %>
    <body class="text-center">
        <% include ../views/header.ejs %>
        <%- include('../views/'+page) %>
        <% include ../views/footer.ejs %>
        <%# include ../views/scripts.ejs %>
    </body>
</html>