<section class="container my-5 pb-5">
    <div class="text-right">
        <a href="/profil"><i class="fas fa-user-cog fa-2x"></i></a>
    </div>
    <form id="msglist" action="/newMessage" method="POST">
        <textarea name="message" id="message" maxlenght="300" required placeholder="Message" class="col-sm-4 my-3 form-control mx-auto" rows="3" autofocus ></textarea><br />
        <input class="btn btn-success col-sm-4" type="submit" id="msg_button" value="Send" /><br />
    </form>
</section>