<section class="container my-5 pb-5">
        <p>Error in your id or account deleted</p>
        <p>Please retry to the Sign In or Sign Up again</p>
        <a href="/"><button class="btn btn-success col-sm-2" type="button">Return</button></a>
</section>