<section class="container my-5 pb-5">
        <p>The user name or the user email are already existing</p>
        <p>Please back to the Sign Up page</p>
        <a href="/signup"><button class="btn btn-success col-sm-2" type="button">Return</button></a>
</section>