<header class="container mt-2">
<a href="/" >
    <div id="title" class="row justify-content-center">
        <img id="logo" src="/images/logo.png" alt="logo" class="col-4-lg"/>
        <h1 class="col-4-lg ml-1 my-auto">Dev.Chat</h1>
    </div>
</a>
</header>