<section class="container my-5 pb-5">
    <div class="text-right">
        <a href="/chat"><i class="fas fa-comments fa-2x"></i></a>
    </div>
    <h2>Votre Profil</h2>
    <div>
        <p><strong>Up Date your profil</strong></p>
        <form id="userform" action="#" method="POST">
            <input type="text" name="pseudo" id="pseudo" minlength="2" maxlength="40" required placeholder="Pseudo" class="col-sm-4 my-3"/><br/>
            <input type="email" name="email" id="email" required placeholder="Email" class="col-sm-4 my-3"/><br/>
            <input type="password" name="pw" id="pw" minlength="8" required placeholder="Password" class="col-sm-4 my-3"/><br/>
            <input class="btn btn-success col-sm-3" type="submit" id="form_button" value="Update" /><br/>
            <input class="btn btn-danger col-sm-3 my-3" type="submit" id="delete_button" value="Delete" />
        </form>
        <a href="#"><button class="btn btn-danger" type="button">Log out</button></a>
    </div>
</section>