<section class="container my-5 pb-5">
    <div>
        <div class="row justify-content-center my-2">
            <p class="link col-sm-1 text-center"><a href="/">SIGN&nbsp;IN</a></p>
            <p class="link col-sm-1 text-center">&#x7C;</p>
            <p class="link col-sm-1 text-center"><strong>SIGN&nbsp;UP</strong></p>
        </div>
        <form id="userform" action="/subscribe" method="POST">
            <input type="text" name="user_name" id="user_name" minlength="2" maxlength="40" required placeholder="Pseudo" autofocus class="col-sm-4 my-3"/><br/>
            <input type="email" name="user_email" id="user_email" required placeholder="Email" class="col-sm-4 my-3"/><br/>
            <input type="password" name="user_pwd" id="user_pwd" minlength="8" required placeholder="Password" class="col-sm-4 my-3"/><br/>
            <input class="btn btn-success col-sm-3" type="submit" id="form_button" value="Register" /><br/>
        </form>
    </div>
</section>

