<section class="container my-5 pb-5">
        <p>Congratulation ! Your account is created !</p>
        <p>Please back to the Sign In page</p>
        <a href="/"><button class="btn btn-success col-sm-2" type="button">Sign IN</button></a>
</section>